/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    margin: 30px;
}
/* ------------------------------- 2. Typography ----------------------------------- */

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

.article {
    background-color: pink;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.article p {
    padding: 34px 78px;

}

.article:nth-child(1) {
    border: 2px solid #4aa99d;
    color: #4aa99d;
    background-color: #eefbf9;
}

.article:nth-child(2) {
    border: 2px solid #4b849c;
    color: #4b849c;
    background-color: #f1f6f9;
}

.article:nth-child(3) {
    border: 2px solid #e45c3b;
    color: #e45c3b;
    background-color: #fdf0ec;
    max-width: 300px;
}

.inner-container {
    max-width: 900px;
}

.div-article {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.bestsold {
    padding: 40px 0;
    background-color: #ededed;
    border: 1px dashed black;
    display: flex;
    justify-content: space-around;
}

.bestseller-img {
    width: 100%;
    height: auto;
    max-width: 240px;
    display: block;
    margin: 0 auto;
}

.detailsbestseller p  {
    padding: 10px;
}


/* --------------- 4.1 Header ------------------------- */

/* --------------- 4.2 Introduction ------------------- */

/* ------------------------------- 5. Media Queries -------------------------------- */
